@font-face {
  font-family: 'Audiowide';
  src: url('../assets/fonts/Audiowide-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Bebas Nueue';
  src: url('../assets/fonts/BebasNeue-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Bruno Ace';
  src: url('../assets/fonts/BrunoAceSC-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Big Shoulders Display';
  src: url('../assets/fonts/BigShouldersDisplay-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Rock Salt';
  src: url('../assets/fonts/RockSalt-Regular.ttf');
  font-weight: 400;
}
