@use '../base/fonts';

// Fonts
$font-main: 'Bruno Ace';
$font-heading: 'Bebas Nueue';
$font-playlist: 'Audiowide';
$font-numbers: 'Big Shoulders Display';
$font-names: 'Rock Salt';

// Colors
$color-bg: #0a0231;
$color-primary: rgb(131, 255, 140);
$color-primary-o8: rgba(131, 255, 140, 0.8);
$color-white-o5: rgba(255, 255, 255, 0.502);
$color-white: #fff;
$color-primary-light: #eaffeb;
$color-border: #091958;
